*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}
img{
    vertical-align: middle;
}
/* common css end */




h1{
    background-color: yellowgreen;
}
