*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 50px;
    width: 1320px;
    background-color: purple;
    margin: 0 auto;
}

#main_menu{
    height: 50px;
    background-color: orange;
}