*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css end */


/* features part start */
#features button{
    position: relative;
    text-align: left;
    padding-left: 60px;
    color: black;
    transition: .4s;
}
#features button span{
    display: block;
}
#features button i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
}
#features .active{
    background-color: transparent;
    color: red;
}
#features button::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 50%;
    background-color: purple;
    transition: .4s;
}
#features .active::before{
    width: 100%;
}
/* features part end */








/* screenshots part start */
#screenshots{
  padding: 100px 0;
}
#screenshots .slick-dots{
    text-align: center;
}
#screenshots .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
#screenshots .slick-dots li button{
    background-color: transparent;
    font-size: 0;
    height: 20px;
    width: 20px;
    border: 1px solid purple;
    border-radius: 50%;
    position: relative;
}
#screenshots .slick-dots .slick-active button::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: purple;
}
#screenshots img{
    width: 100%;
}
#screenshots .img{
    margin: 0 10px;
}
/* screenshots part end */








/* pricing part start */
#pricing h2{
    padding: 20px 0;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 20px 20px 0 0;
    transition: .4s;
}
#pricing .price{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 50px auto;
    border: 2px solid lightskyblue;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    position: relative;
}
#pricing .price h3{
    font-size: 30px;
    font-weight: 700;
}
#pricing .price h3 span{
    font-weight: 400;
    font-size: 20px;
}
#pricing .price .amount{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#pricing{
    padding: 100px 0;
}
#pricing .details{
    text-align: center;
    background-color: lightskyblue;
    border-radius: 0 0 20px 20px;
    padding-top: 20px;
}
#pricing .details button{
    padding: 5px 20px;
    background: transparent;
    background-color: lightskyblue;
    border: 1px solid purple;
    border-radius: 20px;
    transform: translateY(50%);
    transition: .4s;
}
#pricing .item:hover button{
    background-color: orangered;
    color: #fff;
}
#pricing .item:hover h2{
    background-color: orangered;
    color: #fff;
}
/* pricing part end */









/* team part start */
#team{
    padding: 100px 0;
    margin-bottom: 200px;
}
#team .item{
    text-align: center;
}
#team h2{
    font-size: 25px;
    font-weight: 600;
}
#team h3{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
#team p {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}
#team .item .img{
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 20px 20px 20px 20px;
    transition: .4s;
    position: relative;
}
#team .item .img .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .4s;
}
#team .item:hover .img .overlay{
    transform: scale(1);
}
#team .item .img .overlay a i{
    font-size: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid orangered;
    color: #fff;
    margin: 0 8px;
    border-radius: 50%;
    transition: .4s;
}
#team .item .img .overlay a i:hover{
    background-color: orangered;
    color: #000;
}
#team .item img{
    width: 100%;
}
#team .item .details{
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #e0dddd;
}
#team .item{
    position: relative;
     
}
#team .item .details{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    transition: .4s;
    padding: 80px 50px 20px 50px;
}
#team .item:hover .img{
    transform: translateY(-30%);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
#team .item:hover .details{
    transform: translateY(30%);
    border-radius: 0 0 20px 20px;
}
/* team part end */